In [ ]:
#kukadiya janki n
#216270307088
#Practical No.7: Write a Pandas program to implement following operation
#to create a dataframe from a dictionary and display it

import pandas as pd

# Create a dictionary with sample data
data = {
    'Name': ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'],
    'Age': [25, 30, 35, 28]
}

# Convert the dictionary into a DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

In [ ]:
#kukadiya janki n
#216270307088
#Practical No.7: Write a Pandas program to implement following operation
#to sort the DataFrame first by 'name' in ascending order

import pandas as pd

# Create a dictionary with sample data
data = {
    'Name': ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'],
    'Age': [25, 30, 35, 28]
}

# Convert the dictionary into a DataFrame
df = pd.DataFrame(data)

# Sort the DataFrame by 'Name' column in ascending order
df_sorted = df.sort_values(by='Name', ascending=True)

# Display the sorted DataFrame
print(df_sorted)

In [ ]:
#kukadiya janki n
#216270307088
#Practical No.7: Write a Pandas program to implement following operation
#to delete the one specific column from the DataFrame

import pandas as pd

# Create a dictionary with sample data
data = {
    'Name': ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'],
    'Age': [25, 30, 35, 28]
}

# Convert the dictionary into a DataFrame
df = pd.DataFrame(data)

# Use the drop() method to delete the 'Age' column
df = df.drop(columns=['Age'])

# Display the DataFrame
print(df)

In [ ]:
#kukadiya janki n
#216270307088
#Practical No.7: Write a Pandas program to implement following operation
#to write a DataFrame to CSV file using tab separator

import pandas as pd

# Create a dictionary with sample data
data = {
    'Name': ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'],
    'Age': [25, 30, 35, 28]
}

# Convert the dictionary into a DataFrame
df = pd.DataFrame(data)

# Specify the tab separator and write the DataFrame to a CSV file
df.to_csv('output_file.csv', sep='\t', index=False)

print("DataFrame has been written to 'output_file.csv' with tab separator.")